<launch>
    <param name="/use_sim_time" value="false" />
    
    <!-- Load the URDF/Xacro model of our robot -->
    <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find tmrobot_description)/urdf/tmrobot.all.urdf.xacro'" />
    <arg name="gui" default="false" />

    <param name="robot_description" command="$(arg urdf_file)" />
    <param name="use_gui" value="$(arg gui)"/>

    <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen"><!--type="driver.py"-->
        <rosparam command="delete" param="/arbotix" />
        <rosparam file="$(find tmrobot_description)/config/tmrobot_arbotix.yaml" command="load" />
        <param name="sim" value="true"/>    
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <param name="publish_frequency" type="double" value="20.0" />      
    </node>

  <!-- push table_description to factory and spawn robot in gazebo -->
<!--   <node name="spawn_table" pkg="gazebo_ros" type="spawn_model" args="-urdf -param table_description -z 0.01 -model table_model" respawn="false" output="screen" /> -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model robot1 -param robot_description -z 0.05"/>

<!-- 
    
    <node pkg="tf" type="static_transform_publisher" name="odom_left_wheel_broadcaster"  args="0 0 0 0 0 0 /base_link /left_front_link 100" /> 
    <node pkg="tf" type="static_transform_publisher" name="odom_right_wheel_broadcaster" args="0 0 0 0 0 0 /base_link /right_front_link 100" />
 

 -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tmrobot_description)/urdf.rviz" />
</launch>