<?xml version="1.0"?>

<robot name="table"  
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
    xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
    xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
    xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"

    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
    xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
    xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"

    xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
    xmlns:xacro="http://ros.org/wiki/xacro">

    <property name="M_PI" value="3.1415926535897931"/>

    <link name="base_link">  
      <inertial>
        <mass value="1.0" />
        <origin rpy="0 0 1.57075" xyz="0 0 0"/>  
        <inertia ixx="1" ixy="0"  ixz="0"
                 iyy="1" iyz="0"
                 izz="1" />
      </inertial>
      <visual>  
        <geometry>  
          <cylinder length=".01" radius="0.117"/>
        </geometry>
        <origin rpy="0 0 1.57075" xyz="0 0 0.048"/>  
        <material name="blue">  
          <color rgba="1 1 1 1"/>  
        </material>  
      </visual>  
    </link>


    <joint name="front_wheel_joint" type="continuous">
      <axis xyz="0 0 1"/>
      <parent link="base_link"/>
      <child link="front_wheel"/>
      <origin rpy="1.57075 1.57075 0" xyz="0.117 0 0.024"/>  
      <joint_properties damping="0.0" friction="0.0"/>
    </joint>
    <link name="front_wheel">
      <inertial>
        <mass value="1.0" />
        <origin rpy="0 0 1.57075" xyz="0 0 0"/>
        <inertia ixx="1" ixy="0"  ixz="0"
                 iyy="1" iyz="0"
                 izz="1" />
      </inertial>
      <visual>  
        <geometry>  
          <cylinder length=".02" radius="0.029"/>  
        </geometry>
        <origin rpy="0 0 1.57075" xyz="0 0 0"/>
        <material name="black">  
          <color rgba="0 0 0 1"/>  
        </material>  
      </visual>  
    </link>  


    <joint name="behind_left_wheel_joint" type="continuous">
      <axis xyz="0 0 1"/>
      <parent link="base_link"/>
      <child link="behind_left_wheel"/>
      <origin rpy="1.57075 1.57075 0" xyz="-0.0585 0.1013 0.024"/>  
      <joint_properties damping="0.0" friction="0.0"/>
    </joint>
    <link name="behind_left_wheel">
      <inertial>
        <mass value="1.0" />
        <origin rpy="0 0 1.57075" xyz="0 0 0"/>
        <inertia ixx="1" ixy="0"  ixz="0"
                 iyy="1" iyz="0"
                 izz="1" />
      </inertial>
      <visual>  
        <geometry>  
          <cylinder length=".02" radius="0.029"/>  
        </geometry>
        <origin rpy="0 0 1.57075" xyz="0 0 0"/>
        <material name="black">  
          <color rgba="0 0 0 1"/>  
        </material>  
      </visual>  
    </link>  


    <joint name="behind_right_wheel_joint" type="continuous">
      <axis xyz="0 0 1"/>
      <parent link="base_link"/>
      <child link="behind_right_wheel"/>
      <origin rpy="1.57075 1.57075 0" xyz="-0.0585 -0.1013 0.024"/>  
      <joint_properties damping="0.0" friction="0.0"/>
    </joint>
    <link name="behind_right_wheel">  
      <inertial>
        <mass value="1.0" />
        <origin rpy="0 0 1.57075" xyz="0 0 0"/>
        <inertia ixx="1" ixy="0"  ixz="0"
                 iyy="1" iyz="0"
                 izz="1" />
      </inertial>
      <visual>  
        <geometry>  
          <cylinder length=".02" radius="0.029"/>  
        </geometry>
        <origin rpy="0 0 1.57075" xyz="0 0 0"/>
        <material name="black">  
          <color rgba="0 0 0 1"/>  
        </material>  
      </visual>  
    </link>


    <gazebo reference="base_link">  
        <material>Gazebo/Blue</material>  
    </gazebo>
 
    <gazebo reference="front_wheel">  
        <material>Gazebo/FlatBlack</material>  
    </gazebo>  
 
    <gazebo reference="behind_left_wheel">  
        <material>Gazebo/FlatBlack</material>  
    </gazebo>  
 
    <gazebo reference="behind_right_wheel">  
        <material>Gazebo/FlatBlack</material>  
    </gazebo>  

  <gazebo>
    <static>true</static>
    <canonicalBody>base_link</canonicalBody>
  </gazebo>

</robot>